@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

@keyframes rotating-180 {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(180deg);
  }
}

// .rotating {
//   animation: rotating 3s linear infinite;
// }