$green: rgba(83, 209, 71, 1);
$water: rgba(71, 142, 209, 0.753);
$waterDark: rgba(71, 96, 209, 0.753);
$pink: #ffb8c2;
$pinkHover: #ffb8c299;
$red: rgb(207, 29, 16);
$green: rgb(8, 175, 44);


$breakpoints: (
  xs: 400px,
  500: 500px,
  sm: 576px,
  md: 768px,
  lg: 980px,
  xl: 1200px,
  xxl: 1400px,
);